body {
  font-size: 2em;
}

canvas {
  background-image: url(./images/background1.JPG);
  background-size: cover;
  border: 4px solid;
}

#buttonStart {
  font-size: 20px;
  position: absolute;
  left: 110px;
  top: 110px;
  width: 200px;
  height: 110px;
}

#score {
  border: solid;
  margin: 20px 1700px 20px 20px;
  padding: 50px;
}
